<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Riveros Andres Fernando</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur 
            adipisicing elit. Officiis saepe culpa rem? Tempore 
            consequatur enim ratione ullam labore vel,
             blanditiis et ad, deleniti harum atque a 
             cupiditate modi, cumque iusto.
            </p>
        </span>
    </div>
</div>